.transaction-sidebar {
    margin:  5px 2px 5px 2px;
    padding: 5px !important;
    width: 15%;
    min-height: 500px;
    overflow-y: auto;
    display: inline-block;
    background-color: white;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    height: 100% !important;
}
.transaction-right-content {
    margin:  5px 2px 5px 2px;
    padding: 5px !important;
    width: 84% !important;
    min-height: 500px;
    display: inline-block;
    background-color: white;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
}
.card-collection {
    display: flex;
}
.trasaction-data-label {
    color:gray;
    font-size: 11px;
    /* font-weight: bold; */
    padding: 3px;
    margin: 0px 0px;
    cursor: pointer !important;
    border-top: 2px solid #dee2e6;
    background-color: whitesmoke;
    border-bottom: 2px solid #dee2e6;
}
.trasaction-child-data-label {
    min-height: 100px;
    padding: 3px 3px 3px 7px;
    word-wrap:break-word;
    font-weight:lighter;
    border-bottom: 1px solid #dee2e6;
}
.show {
    display: block;
}
.hidden {
    display: none;
}
.margin-5 {
    margin-right: 5px;
}
.column {
    float: left;
    width: 20%;
  }
  .column-lg {
    float: left;
    padding: 10px 20px;
    width: 60%;
  }
  .table {
    table-layout: fixed;
    width: 100% !important;
    min-width: 600px;
    overflow: auto !important;
  }
  th,
  td {
    padding: 5px !important;
  }
  .highlight {
    color: orange !important
  }
  .checked {
    color: orange;
  }
  .sortColor {
    color: white !important
  }
  .table-row.selected {
    background: none repeat scroll 0 0 #FFCF8B !important;
    color: #000000;
  }
