.dndflow {
  flex-direction: row;
  display: flex;
  height: 75vh;
}

.dndflow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
  width: 30vh;
}

.dndflow aside > * {
  margin-bottom: 10px;
  cursor: grab;
}

/* .react-flow__node{
    background-color: rgb(158, 146, 146);
    padding: 1px;
    border-radius: 10px;
  } */
  
.dndflow aside .description {
  margin-bottom: 10px;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%; 
  position: relative;
}

@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 20%;
    max-width: 180px;
  }
}

.context-menu {
  position: absolute;
  z-index: 10;
  margin-top: -215px ;
  height: 50px;
  width: 120px;
 
  
}
.hi{
  margin:200px ;
}
.context-menu button {
  background-color: #5c636a85;
  border: 1px solid transparent;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  display: flex;
  width: 120px !important;
  justify-content: flex-start;
}

.setAsStartStepHandler{   
    padding: 3px 29px 0px 24px;
    justify-content: center;
    align-items: center;
}

.deleteNode{
 text-align: center;
}

/* :hover.deleteNode{
background-color: rgba(235, 235, 225, 0.836);
} */

.deleteNodename{
  text-align: center;
  /* padding-top: 7px; */
  /* color: white; */
}

/* .context-menu button:hover {
  background: white;
} */
/* 
.context-menu button:hover {
  background: white;
} */


