.dndflow {
  flex-direction: row;
  display: flex;
  height: 75vh;
}

.dndflow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
  width: 30vh;
}

.dndflow aside > * {
  margin-bottom: 10px;
  cursor: grab;
}

/* .react-flow__node{
    background-color: rgb(158, 146, 146);
    padding: 1px;
    border-radius: 10px;
  } */


.dndflow aside .description {
  margin-bottom: 10px;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%; 
  position: relative;
}

@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 20%;
    max-width: 180px;
  }
}

.context-menu {
  /* background-color: #ffffff4f; */
  /* border-style: solid; */
  /* box-shadow: 10px 19px 20px rgba(0, 0, 0, 10%); */
  position: absolute;
  z-index: 10;
 
  /* top: 0;
  left: 0; */
  margin-top: -200px !important;
  /* height: 86px; */
  width: 130px !important;
}

.context-menu button {
  border: none;
  display: block;
  padding: 0.5em;
  text-align: left;
  width: 100%;
}

.deleteNode{
 text-align: center;
 /* padding:8px 0px 8px 0px ; */
 background-color: #ffffff4f;
}

:hover.deleteNode{
background-color: rgba(235, 235, 225, 0.836);
}

.deleteNodename{
  text-align: center;
  /* padding-top: 7px; */
  color: white;
}

/* .context-menu button:hover {
  background: white;
} */
/* 
.context-menu button:hover {
  background: white;
} */


